body {
    background-color: purple;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.section {
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
}

ul {
    list-style: none;
}

:root {
    --primary-color: #757575;
    --tital-color: black;
    --accent-color: #2196f3;
    --text-title: #212121;
}

.title {
    color: var(--text-title);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.list {
    color: var(--text-title);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.doing {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.foot-logo {
    color: var(--accent-color);
}

.foot {
    background-color: #2f303a;
}

.font {
    background-color: wheat;
}


/*Логотип*/

.decoration {
    text-decoration: none;
}

.nav-web {
    color: var(--accent-color);
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
}

.nav-studio {
    color: var(--tital-color);
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
}


/*features*/

.features {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.studio {
    text-decoration: none;
    color: var(--text-title);
}

.studio:hover,
.studio:focus {
    color: var(--accent-color);
}

.portfolio {
    text-decoration: none;
    color: var(--text-title);
}

.portfolio:hover,
.portfolio:focus {
    color: var(--accent-color);
}

.contacts {
    text-decoration: none;
    color: var(--text-title);
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}


/*Контакты*/

.contact a {
    text-decoration: none;
    color: var(--primary-color);
}

.contact a:hover,
.contact a:focus {
    color: var(--accent-color);
}


/*чем мы занимаемся*/

.texts {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7x;
    letter-spacing: 0.03em;
    color: #757575;
}

.section-list {
    color: white;
    font-style: 400;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-list:focus
/*Наша команда*/

.class-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.duty {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.link a {
    text-decoration: none;
    color: #afb1b8;
}

.link a:hover,
.link a:focus {
    color: var(--accent-color);
}


/*Постоянные клиенты*/

.logo a {
    text-decoration: none;
    color: #afb1b8;
}

.logo a:hover,
.logo a:focus {
    color: var(--accent-color);
}


/*кнопка*/

.button-order {
    text-decoration: none;
    color: white;
    background-color: var(--accent-color);
}

.button-follower {
    text-decoration: none;
    color: white;
    background-color: var(--accent-color);
}

.button-list {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.button-list:hover,
.button-list:focus {
    color: white;
    background-color: var(--accent-color);
}


/*Наши проекты*/

.projects {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-title);
}

.text-button {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}

.text-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #ffffff;
}


/*Подвал*/

.foot-web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.foot-studio {
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.studio-logo {
    color: white;
}

.foot-adress {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.foot-join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.foot-link a {
    text-decoration: none;
    color: #afb1b8;
}

.foot-link a:hover,
.foot-link a:focus {
    color: var(--accent-color);
}

.foot-mail {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.foot-phone {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.foot-end {
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
}